.type-product {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    background: var(--color-background);
    flex-wrap: wrap;
    .infor-type {
        min-height: 190px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--heading-font-family);
        background: #f7f7f9;
        flex-basis: 100%;
        h2 {
            font-size: 4rem;
            color: var(--color-heading-text);
            margin-bottom: 10px;
        }
        p {
            color: var(--color-heading-text);
            font-weight: 600;
            text-transform: capitalize;
            a {
                color: var(--color-text-small);
                font-weight: 500;
                &:hover {
                    color: var(--color-heading-text);
                }
            }
            span {
                margin: 0 5px;
                color: var(--color-text-small);
            }
        }
    }
    .container {
        max-width: 1440px;
        width: 100%;
        padding-top: 40px;
        .content {
            display: flex;
            justify-content: space-between;
            .container-filter {
                margin-top: 10px;
            }
            .container-list-product {
                width: calc(1440px - 300px);
            }
        }
    }
}
