.shop {
    padding-top: 80px;
    height: 100%;
    background: var(--color-background);
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
    .container-shop {
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .filter-container {
            margin-top: 60px;
        }
        .product-container {
            width: calc(1440px - 300px);
            margin-top: 50px;
            .list-type-product {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
