.our-product {
    max-width: 1440px;
    height: 100%;
    .title {
        text-align: center;
        padding: 15px;
        margin-bottom: 20px;
        h4 {
            font-size: 1.8rem;
            font-family: var(--heading-font-schoolbell);
            color: var(--color-text-title);
            font-weight: 600;
        }
        h3 {
            font-size: 3rem;
            font-weight: 700;
            font-family: var(--heading-font-family);
            color: var(--color-heading-text);
            margin-top: 10px;
            text-transform: uppercase;
        }
    }
    .control-list {
        display: flex;
        justify-content: center;
        li {
            margin: 0 20px;
            color: var(--color-text-small);
            font-family: var(--heading-font-family);
            font-weight: 700;
            &:hover {
                color: var(--color-text-title);
                cursor: pointer;
            }
        }
        .focus {
            color: var(--color-text-title);
        }
    }
    .list-product {
        display: flex;
        margin-top: 40px;
        position: relative;
        &:hover {
            .control {
                display: flex;
            }
        }
        .control {
            width: 60px;
            height: 60px;
            position: absolute;
            background: rgba(150, 174, 0, 0.3);
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            z-index: 2;
            display: none;
            &:hover {
                background: var(--color-text-title);
            }
        }
        .control-left {
            top: 50%;
            bottom: 50%;
            transform: translate(-50%, -50%);
            margin-left: 10px;
            left: 0;
        }
        .control-right {
            top: 50%;
            bottom: 50%;
            right: -60px;
            transform: translate(-50%, -50%);
            margin-right: 10px;
        }
    }
    .to-shop {
        text-align: center;
        margin-top: 25px;
        font-size: 1.4rem;
        span {
            color: var(--color-text-small);
        }
        a {
            color: var(--color-text-title);
            font-weight: 500;
            position: relative;
            .icon {
                width: 1.8rem;
                display: inline-block;
                position: absolute;
                top: 50%;
                bottom: 50%;
                transform: translate(-50%, -50%);
                margin-left: 15px;
            }
            &:hover {
                .icon {
                    animation: toShop 0.5s linear infinite;
                }
            }
        }
    }
}

@keyframes toShop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(5px);
    }
}
