.special-product {
    max-width: 1440px;
    height: 100%;
    .list-product {
        display: flex;
        flex-wrap: wrap;
        .product-item {
            flex-basis: 16.66667%;
        }
    }
}
